{% extends "layout.html" %}
{% load static %}
{% block title %}
Mymusic
{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'create_playlist.css' %}">
{% endblock %} 
{% block content %}
<div class="login-container">
        <div class="login-box">
            <h2>Create Playlist</h2>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Playlist Name" autocomplete="off" required>
                <button type="submit" class="login-btn">Create</button>
            </form>
        </div>
    </div>
{% endblock %}